*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
a:link{color: black;}
a:hover{color: #D31923;}
a:active{color: #D31923;}
a:visited{color: #D31923;}

header{
    height: 152px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    width: 349px;
    display: flex;
    justify-content: space-between;
}
nav ul li{}
nav ul li a{
    display: block;
    width: 74px;
    text-align: center;
    font-family: "din-condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
}
section{
    height: 768px;
    background-image: url(img/layered.jpg);
    background-position: 86px center;
    background-repeat: no-repeat;
    background-color: white;
}
footer{height: 86px;background-color: white;
    background-image: url(img/copyright.jpg);
    background-position: center;}